@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: 'Mulish', sans-serif;

  &:focus {
    outline: 0;
  }
}

body {
  background: #F7F8FC;
  display: grid;
  place-items: center;
  height: 100vh;
}

.component {

  color: #10182F;
  
  &--remaining-credit {
    width: 566px;
    height: 469px;
    border-radius: 5px;
    background-color: #fff;
    padding: 55px 0 0 44px;

    h3 {
      font-weight: 700;
      font-size: 22px;
      margin-bottom: 25px;
    }

    .credit {
      height: 72px;
      display: flex;
      align-items: center;
      margin-bottom: 70px;

      .circle {
        width: 72px;
        height: 72px;
        margin-right: 20px;
        transform: rotate(-90deg);

        svg {
          circle {
            fill: none;
            stroke-width: 5;
            stroke: #DAE1F5;
            stroke-linecap: round;

            &:nth-child(1) {
              stroke-dashoffset: 0;
            }

            &:nth-child(2) {
              stroke-dashoffset: var(--offset);
              stroke-dasharray: var(--circum);
              stroke: #345ACE;
              animation: 1s animateOffset;
              animation-fill-mode: forwards;
            }
          }
        }
      }

      .text {
        .amount {
          font-size: 26px;
          font-weight: 700;
        }

        .price-description {
          font-size: 16px;
          font-weight: 400;
          color: #545D7A;
        }
      }
    }

    .description {
      width: 421px;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 40px;
    }

    .buttons {
      button {
        width: 160px;
        height: 43px;
        background-color: #fff;
        border: solid 2px #DAE1F5;
        border-radius: 27.5px;
        font-size: 16px;
        font-weight: 700;
        
        &[filled] {
          background-color: #10182F;
          color: #fff;
          border: transparent;
        }
      }
    }
  }
}

